class {
    onCreate() {
        this.state = {
            isMenuOpen: false,
        }
    }
    openMenu() {
        console.log('open')
        this.state.isMenuOpen = true
    }
    closeMenu() {
        console.log('close')
        this.state.isMenuOpen = false
    }
}

<div class=["absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden", {"hidden":!state.isMenuOpen}]>
    text
</div>
